<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.ac.nitech.itolab.mwitter">

    <!-- Full access to the Internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <meta-data
        android:name="AA_SERIALIZERS"
        android:value="jp.ac.nitech.itolab.mwitter.model.adapter.TweetUserSerializer" />

    <application
        android:name=".AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Activity -->
        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/title_activity_login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.TweetListActivity"
            android:label="@string/title_tweet_list"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ui.TweetDetailActivity"
            android:label="@string/title_tweet_detail"
            android:parentActivityName=".ui.TweetListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.TweetListActivity" />
        </activity>
        <activity
            android:name=".ui.TweetCreateActivity"
            android:theme="@style/AppTheme.DimDialog">
        </activity>
        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <!-- <activity android:name=".ui.BaseActivity"></activity> -->


        <!-- Service -->
        <service android:name=".service.TweetService" />

        <!-- Provider -->
        <provider
            android:name="com.activeandroid.content.ContentProvider"
            android:authorities="jp.ac.nitech.itolab.mwitter" />
    </application>

</manifest>
